.button {
    color: black;

    padding: 2px 7px 2px 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    font-family: 'Raleway', sans-serif;

    background-color: #e23cc6;

    border: solid black;
    box-shadow: 3px 3px #888888;

    border-radius: 4px;

    min-width: 190px;

    transition: background 0.3s ease, transform 0.2s ease;

}

.button:hover {
    transform: scale(1.02);
}

.button:active {
    transform: scale(0.98);
}