.matchup {
    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;

    list-style: none;

    min-width: 200px;
    border-radius: 5px;
    border: 2px solid #f79ae7;
    background-color: #f79ae7;

    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    margin-left: 10px;

}



.team {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    cursor: pointer;


    margin-left: -25px;

}


.team_input {
    border: none;
    outline: none;
    margin: 0 auto;
    padding-left: 20px;

    background-color: #f79ae7;
    color: white;

    height: 33px;

}

.team_input::placeholder {
    color: #f1d2ec;
}

.seed_num {
    min-width: 30px;
    margin: 0 auto;
    border-right: 2px solid white;

    color: white
}

.lower_line {
    border-bottom: 2px solid white;
    margin-left: 3px;
}

.inactive_matchup .matchup {
    background-color: #FCCDF3;
    border: 2px solid #FCCDF3;
}

.inactive_matchup .team {
    background-color: rgb(247, 154, 231, 50);
}

.inactive_matchup .team_input {
    background-color: rgb(255, 255, 255, 0.5) !important;
}

.inactive_matchup .lower_line {
    border-bottom: 2px solid rgb(247, 154, 231, 0) !important;
    margin-left: 3px;
}

.inactive_matchup .seed_num {
    min-width: 30px;
    margin: 0 auto;
    border-right: 2px solid rgb(247, 154, 231, 0);
    background-color: #FCCDF3 !important;
    color: rgb(247, 154, 231, 0);
}

.radio_container {
    width: 0px;

    text-wrap: nowrap;
    transform: translateX(-100px);

    height: 25px;

}

.radio_outer_div {
    width: 203px;
}

.team_input_radio {
    appearance: none;

}

.team_input_radio::before {
    margin: 0;

    margin-right: 12px;
    margin-left: 12px;
    border-radius: 1px;

    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #732f6e;

    border-radius: 50%;

    background-color: #fff;
    transition: all 0.3s ease;


    transform: translateY(6px);


}

.team_input_radio:checked::before {
    background-color: #8b3886;
    border-color: #732f6e;


}


.radio_text {

    color: white;

    transition: color 0.3s ease;

    display: inline-block;

    position: relative;

    top: 3px;

}