.title {
    font-family: 'Raleway', sans-serif;
    font-size: 3rem;
    font-weight: 1000;

    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;

    margin: 0 auto;
    margin-top: 5px;
    margin-bottom: 5px;

}

.container {
    width: 50%;
    margin: 5vh auto;

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
    padding-left: 1vw;

    border: 3px solid lightgray;

    box-shadow: 5px 5px 5px lightgray;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Title */
.title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
    font-family: 'Raleway', sans-serif;

}

/* Loading and Error Messages */
.loading,
.error,
.notSignedIn {
    font-size: 1.2rem;
    margin-top: 1rem;
    text-align: center;
    font-family: 'Raleway', sans-serif;

}


.upper_container {
    display: flex;
    flex-direction: column;
}

.submit_button {

    align-self: center;
    margin-top: 30px;

    color: black;

    margin-right: 1vw;

    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;

    font-family: 'Raleway', sans-serif;
    background-color: #e23cc6;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    box-shadow: 3px 3px #888888;

    transition: background 0.3s ease, transform 0.2s ease;
}


.submit_button:hover {
    color: black;
    text-decoration: none;

    transform: scale(1.04) !important;
}

.submit_button:active {
    color: black;
    text-decoration: none;

    transform: scale(0.96) !important;
}


.youre_host {
    background-color: #e23cc6;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    font-weight: 900;
    font-style: italic;
    margin-right: 5px;
}

.select_winner_bla_bla_bla {
    font-style: italic;
    font-weight: 900;
}

.start_game {
    color: black;

    padding: 2px 7px 2px 7px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;

    font-family: 'Raleway', sans-serif;

    background-color: #e23cc6;

    border: solid black;
    box-shadow: 3px 3px #888888;

    border-radius: 4px;

    min-width: 190px;

    transition: background 0.3s ease, transform 0.2s ease;

}

.start_game:hover {
    transform: scale(1.02);
}

.start_game:active {
    transform: scale(0.98);
}