.container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 700px;
}

.title {
    margin-top: 4vh;
    margin-left: -20px;
    text-align: center;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
}

.description {
    padding-top: 3vh;
    text-align: center;

    white-space: pre;
    font-family: 'Raleway', sans-serif;
}

.authentication_container {
    text-align: center;

}

.sign_up_button {

    color: black;

    margin-right: 1vw;

    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 0.3vw;
    padding-bottom: 0.3vw;

    font-family: 'Raleway', sans-serif;
    background-color: #e23cc6;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    box-shadow: 3px 3px #888888;

    transition: background 0.3s ease, transform 0.2s ease;


}

.sign_up_button:hover {
    color: black;
    text-decoration: none;

    transform: scale(1.04) !important;
}

.sign_up_button:active {
    color: black;
    text-decoration: none;

    transform: scale(0.96) !important;
}

.dino_pic {
    position: absolute;
    width: 450px;
    right: -150px;
    transform: rotate(-20deg);


    overflow: hidden;
}