.container {
    width: 50%;
    min-width: 750px;
    margin: 5vh auto;

    padding-top: 2vh;
    padding-bottom: 2vh;
    padding-right: 1vw;
    padding-left: 1vw;

    border: 3px solid lightgray;

    box-shadow: 5px 5px 5px lightgray;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Table Styling */
.table {
    width: 100%;
    margin-top: 1rem;
    border-collapse: collapse;

    background-color: white;

    overflow: hidden;
}

.tableHeader th {
    font-family: 'Raleway', sans-serif;
    background-color: #b7b7b7;
    padding: 1rem;
    text-align: left;
}


.cell {
    padding: 0.8rem;

    text-align: left;
    color: #333;
    font-size: 1rem;
}

.noPlayers {
    text-align: center;
    font-size: 1.1rem;
    color: #777;
    padding: 1rem;
}