@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500&display=swap');
.title {
    text-align: center;
    font-weight: 900;
}

.container {

    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;

    width: 30%;
    margin: 0 auto;
}

.inputs, .sub {
    margin-bottom: 1vh;
}

.sub {
    margin: 0 auto;

    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #e23cc6;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    box-shadow: 3px 3px #888888;
}

.errors {
    color: red;
}