.title {
    text-align: center;
    font-weight: 900;
}

.container {

    font-family: 'Raleway', sans-serif;

    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.inputs, .sub {
    margin-bottom: 1vh;
}

.sub {
    margin: 0 auto;

    padding-right: 2.5vw;
    padding-left: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;

    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-color: #e23cc6;
    border-style: solid;
    border-color: black;
    border-radius: 4px;
    box-shadow: 3px 3px #888888;
}

.errors {
    color: red;
    margin: 0 auto;
}

.success {
    color: green;
    margin: 0 auto;
}

.already_signed_in {
    text-align: center;
    color: green;
}

.google_sign_up_field {
    display: flex;
    flex-direction: wrap;
    justify-content: center;

    margin-top: 5vh;
    margin: 5vh auto;

    width: 80%;

    padding-top: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;

    border-color: #474C5D;
    border-style: solid;
    border-radius: 5px;

    cursor: pointer;
}

.google_sign_up_field:active {
    box-shadow: 0px 3px 3px #474C5D;
}

.google_logo {
    width: 30px;
    height: 30px;

    user-select: none;    
}

.google_label {
    padding-left: 3vh;
    padding-right: 2vh;

    margin-top: 5px;

    user-select: none;
}