@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;500;900&display=swap');
.container {
    margin-left: -12px;
    box-shadow: 3px 3px 2px #888888;
}

.big_header_list {
    display: flex;
    list-style: none;
}

.header_item {
    border-radius: 10px;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.header_button {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;

    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 4vh;
    padding-bottom: 4vh;
}

.header_button:visited, .header_button:hover, .header_button:active {
    color: black;
    text-decoration: none;
    
}

/* For account icon on right only! */
.header_item_right {
    border-radius: 10px;
    padding-top: 4vh;
    padding-bottom: 4vh;

    margin-left: auto; 
    margin-right: 0;
}

.account_image {
    width: 30px;
    height: 30px;
}